<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Monitor</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row" style="margin-top:20px">

            <div class="col-sm">
                <div class="dropdown" style="align: center">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select File Type
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Time Series</a>
                        <a class="dropdown-item" href="#">Daily Report</a>
                    </div>
                </div>
                <form method="POST" action="/upload" enctype="multipart/form-data">
                    <input type="file" name="inputFile">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </form>
            </div>

            <div class="col-sm">
                <form>
                    <div class="form-group">
                        <input class="form-control" id="exampleFormControlInput1" placeholder="Enter countries">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="exampleFormControlInput1" placeholder="Enter provinces/states">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="exampleFormControlInput1" placeholder="Enter combined_keys">
                    </div>
                </form>
            </div>

            <div class="col-sm" style="position: center">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Query Type
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Deaths</a>
                        <a class="dropdown-item" href="#">Confirmed</a>
                        <a class="dropdown-item" href="#">Active</a>
                        <a class="dropdown-item" href="#">Recovered</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>